.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 3rem;
}


.related-products .card--card, .related-products .card--standard .card__inner, .related-products .shadow{ background-color: transparent;}

/* change related product card__information  */

.card__information .d-flex{ display: block; text-align: center;}